

body{
font-size: 15px;

}

#header p {
    margin: 5px;
}
#top-right-key{
    text-align: right;
}
#giphy-key-text{
    background-color: green;
    color: white;
}

#omdb-key-text{
    background-color: orange;
 }

#us-loc-key-text{
    background-color: blue;
    color: white;
}


button,
    div,
    form,
    input {
      margin: 5px;
      
    }


    button{
        text-align: center;
    }

    p{
        /* width: 80%; */
        font-size: 12px;
    }

    #movieImgDiv,
    #imgDiv {
         margin: 0 auto;


     }
     img.movie-poster{
        height: 250px;


    }

    .table{
        font-size: 12px;
        margin-bottom: 0px;
    }
    .table th,
    .table td{
        padding: 1px;

    }
     /* Top right download icon */
    .top-right {
        position: absolute;
        top: 0;
        right: 0;
        color: maroon;
        background-color:lightgrey;
        padding-top: 2px;
        padding-left: 3px;
        padding-right: 3px;  
  
  }
